<link href="../../default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../../form.css" rel="stylesheet" type="text/css" media="all" />

<div class="form-container">
  <form id="contact" action="/borrowers/<%=@borrower.id%>" method="post">
    <h3>Edit Your Profile</h3>
    <fieldset>
      <input placeholder="First Name" type="text" tabindex="1" name="borrower[first_name]" value="<%= @borrower.first_name %>" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Last Name" type="text" tabindex="2" name="borrower[last_name]" value="<%= @borrower.last_name %>" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" name="borrower[phone_number]" value="<%= @borrower.phone_number %>" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="4" name="borrower[email]" value="<%= @borrower.email%>" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Address" type="text" tabindex="5" name="borrower[address]" value="<%= @borrower.address %>" required>
    </fieldset>
      <input id="hidden" type="hidden" name="_method" value="patch">
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Complete Edits</button>
    </fieldset>
  </form>
</div>
