<div class="container-fluid">
  <h1>All Borrowers</h1>
  <a href="/borrowers/new">New Borrower</a>
</div>
<table class="table">
  <tr>
    <th>ID & Profile</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
  </tr>
  <% @borrowers.each do |b| %>
    <tr>
      <td>
        <%= link_to borrower_path(b) do %>
          Profile #<%= b.id %>
        <% end %>
      </td>
      <td><%= b.first_name %></td>
      <td><%= b.last_name %></td>
      <td><%= b.phone_number %></td>
      <td><%= b.email %></td>
      <td><%= b.address %></td>
    </tr>
  <% end %>
</table>
