<div>
  <div class="container">
    <div class="user-profile">
      <h2>User Profile</h2>
      <label for="">First Name</label>
      <%= @borrower.first_name %><br/>
      <label for="">Last Name</label>
      <%= @borrower.last_name %><br/>
      <label for="">Phone Number</label>
      <%= @borrower.phone_number %><br/>
      <label for="">Email</label>
      <%= @borrower.email%><br/>
      <label for="">Address</label>
      <%= @borrower.address %><br/>
      <label for="">Amount Unpaid</label>
      $<%= @borrower.amount_unpaid.round(2) %><br/>
      <label for="">Credit Line</label>
      $<%= @borrower.card.credit_line.round(2) %><br/>
      </span>
      <label for="">Approved for Credit Card?</label>
      <%= @borrower.approved %><br/>
    </div>
    <form class="" action="/borrowers/<%=@borrower.id%>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" name="" value="Delete Account">
    </form>
  </div>
  <ul class="actions">
    <a href="/borrowers/<%=@borrower.id%>/edit" class="button">Update Profile</a>
  </ul>

  <!-- Employment History -->
  <!--
  t.integer  :borrower_id
  t.integer  :employer_id
  t.float    :salary
  t.date     :start_date
  t.date     :end_date
  t.string   :job_title
  -->
  <div class="employment-history">
    <h2>Employment History</h2>
    <table class="table">
      <tr>
        <th>Company Name</th>
        <th>Salary</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Job Title</th>
      </tr>
      <% @employment_histories.each do |b| %>
        <tr>
          <td><%= b.company_name %></td>
          <td><%= b.salary %></td>
          <td><%= b.start_date %></td>
          <td><%= b.end_date %></td>
          <td><%= b.job_title %></td>
        </tr>
      <% end %>
    </table>
  </div>

</div>
